#branding {
    background-color: rgba(0, 0, 0, 0.28);
    color: rgba(255, 255, 255, 0.75);
    padding: 14px 0;
    text-align: center;
}

#branding #site-name {
    margin: 0;
    font-size: 20px;
    letter-spacing: 4px;
}